.registration{
    text-align: center;
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    background: blue; /* Цвет фона */
    border-radius: 10px 10px;
    margin: 20px;

}

.pass{

    width: 200px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    text-align: center;
}

.header {
    font-size: 250%;
    width: 100%;
    padding: 10px;
    margin: auto;
    background:grey;
    text-align: center;
}

.form1 {
    text-align: center;
    margin: 10px;
}
.box{
    width: 5px;
    margin: 5px;
    padding: 5px;
    flex-basis: 200px;
    text-align: center;
}
.flex-container {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: revert;
}
.blok {
    font-size: 5px;
    width: 100%;
    padding: 1px;
    margin: auto;
    text-align: center;
}

