.registration {
    text-align: center;
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    background: blue; /* Цвет фона */
    border-radius: 10px 10px;
    margin: 20px;

}
.save {
    align-items: center
    text-align: center;
    width: 200px; /* Ширина элемента в пикселах */
    padding: 20px; /* Поля вокруг текста */
    background: blue; /* Цвет фона */
    border-radius: 10px 10px;
    margin: 50px;

}

.pass{

    width: 200px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    text-align: center;
}

.header {
    font-size: 250%;
    width: 100%;
    padding: 10px;
    margin: auto;
    background:grey;
    text-align: center;
}
.footer {
    text-align: center;
    font-size: 200%;
    width: 100%;
    padding: 40px;
    margin: auto;
    background:grey;
    border: 0;
}

.form1 {
    text-align: center;
    margin: 10px;
}
.box{
    width: 5px;
    margin: 5px;
    padding: 5px;
    flex-basis: 200px;
    text-align: center;
}


.blok {
    font-size: 5px;
    width: 100%;
    padding: 1px;
    margin: auto;
    text-align: center;
}
.search {
    width: 300px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    text-align: left;
}
.note {
    text-align: center;
    width: 300px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    background: blue; /* Цвет фона */
    border-radius: 10px 10px;
    margin: 10px;
}
.class_1 {
    width: 300px;
    padding: 10px; /* Поля вокруг текста */
    margin: 10px;
    text-align: left;
}
.block-left {
    width:50%;
    height:700px;
    overflow:auto;
    float:left;
}
.block-right {
    width:50%;
    height:700px;
    overflow:auto;
}
.block_right {
    width: 99%;
    height: 50px;
    padding: 1px;
    margin: auto;
    overflow:auto;
    text-align: left;
}
.block_right2 {
    width: 99%;
    height: 200px;
    padding: 1px;
    margin: auto;
    overflow:auto;
    text-align: left;
}
.search {
    display: inline-flex;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
}

.search-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    order: -1;
}

.search-field {
    width: 100%;
    border: 0;
}

.displayHidden{
    display:none !important;
}


.text{
    width: 500px;
    height: 20px;
}

.input {
    background-image: https://image.flaticon.com/icons/svg/49/49116.svg;
    background-repeat: no-repeat; /*Убираем повтор изображения*/
    background-position: 4px; /*Позиционируем*/
    outline: none; /*убираем стандартную обводку браузера*/
    -moz-border-radius: 5px; /*закругляем углы для Mozilla*/
    -webkit-border-radius: 5px; /*закругляем углы для Chrome, Safari*/
    border-radius: 5px; /*закругляем углы для остальных браузеров*/
    padding-left: 20px; /*отступ слева от ввода, чтобы текст не был на картинке(выбирать по размеру картинки)*/
    height: 20px; /*высота строки ввода*/
    font-size: 13px; /*размер шрифта*/
}
form-search {
    display: inline-block;
    border-bottom: 1px solid;
}
form-search input {
    all: unset;
}

.entry {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

}
.entry-note{
    display: flex;
    flex-direction: row;
}
.title {

    width: 50%;
    height: 20px;

}
.data{
    padding-right: -5px

    text-align: right;
    width: 25%;
    height: 20px;
}
.delete {
    width: 10%;
    text-align: right;

}

.change {
    width: 5%;
    text-align: right;

}