.registration{
    width: 200px; /* Ширина элемента в пикселах */
    padding: 10px; /* Поля вокруг текста */
    margin: auto; /* Выравниваем по центру */
    background: blue; /* Цвет фона */
    border-radius: 10px 10px;
}
.pass{
    width: 200px;
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
}
.header {
    font-size: 150%;
    width: 100%;
    padding: 10px; /* Поля вокруг текста */
    margin: auto;
    background:grey;
}
